.brand {
    background: #bf8d3c !important;
}

.brand-text {
    color: #bf8d3c !important;
    text-transform: uppercase;
}

form {
    max-width: 460px;
    margin: 20px auto;
    padding: 20px;
}

textarea {
    height: 10rem;
    margin: 10px auto 20px auto;
    outline: none;
    padding: 10px;
}